target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.log
*.ctxt

.mtj.tmp/
hs_err_pid*
replay_pid*

.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

*.swp
*~
.DS_Store
Thumbs.db
